<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <% mahasiswa.forEach((mhs,index)=>{%>
    <form action='/<%= mhs.id%>/edit' method="post">
        <div class="container col-md-4">
            <div>
                <div>
                    <table class="table table-striped">
                             <tr>
                                <td colspan="3" align="center">
                                <h4>Ubah Data Mahasiswa</h4>
                            </td>   
                           </tr>
                            <tr>
                                <th>Nama</th>
                                <td><%= mhs.nama%></td>
                            <tr>
                            <tr>
                                <th>NPM</th>
                                <td><%= mhs.npm%></td>
                            <tr>
                                <th>Nilai UAS</th>
                                <td><input type='text' name='uas' value="<%= mhs.uas%>" required/></td>
                            </tr>
                            <tr>
                                <th>Nilai UTS</th>
                                <td><input type='text' name='uts' value="<%= mhs.uts%>" required/></td>
                            </tr>
                            <tr>
                                <th>Nilai UAP</th>
                                <td><input type='text' name='uap' value="<%= mhs.uap%>" required/></td>
                            </tr>
                            <tr>
                                <td colspan="2"  align="center">
                                    <button type='submit' onClick='alert("Data Berhasil Diubah")'  class="btn btn-success">Ubah Data</button>
                                </td>                
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
    <%})%>
</body>
</html>